/* general app element styling */
body {
	background-color: #18828C !important;
	font-family: Comfortaa !important;
}

/* header styling */
h1, h2 {
	color: white;
}

/* table row styling */
tr {
	color: white;
	font-size: 1.2em;
}

.table-hover tbody tr:hover td {
    background: lightcyan;
}

/* increase text size of general elements */
form {
	font-size: 1.3em;
}

.card-body p {
	font-size: 3em;
}

.alert {
	font-size: 1.5em;
	padding: 4px;
}


/* app header styling */
.header {
	background-color: #18828C;
	height: 200px;
	font-family: Comfortaa;
	color: white;
	padding: 10px;
}

.header h1 {
	font-size: 80px;
}


/* admin table display to toggle */
#pending_requests_table {
	display: none;
}

#approved_requests_table {
	display: none;
}

#denied_requests_table {
	display: none;
}

#most_clicked_urls_table {
	display: none;
}

#admin-controls-panel {
	display: none;
}


/* pending requests table modal styling */
.modal-header {
	background-color: lightseagreen;
}

.modal-body p {
	font-size: 1.3em;
}

#modal_body_id {
	display: none;
}


/* admin login styling  */
#admin_login_header {
	background-color: darkred;
}

#admin_login_header h3 {
	color: white;
	padding: 10px;
}


/* Admin dashboard controls styling */
#admin_controls_header {
	background-color: lightseagreen;
}

#admin_controls_header h3 {
	color: white;
	padding: 6px;
}


/* Dashboard stats styling */
#url_clicks_header {
	background-color: darksalmon;
}

#clickstatscard {
	background-color: darksalmon;
}

#url_stats_header {
	background-color: mediumaquamarine;
}

#urlstatscard {
	background-color: mediumaquamarine;
}

