{% extends 'base.html' %}

{% block content %}

<h1>Admin Dashboard</h1>

<div class="card text-center">
  <div class="card-header" id="url_clicks_header">
    <h3>Click Statistics</h3>
  </div>
  <div class="card-body card-group" id="clickstatscard">
    
    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Total Clicks</h4>
        <p class="card-text">{{ total_clicks }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Total Clicks Today</h4>
        <p class="card-text">{{ clicks_today }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Total Clicks this Week</h4>
        <p class="card-text">{{ clicks_last_7_days }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Daily Click Average</h4>
        <p class="card-text">{{ daily_click_average }}</p>
      </div>
    </div>

  </div>
</div>

<br>

<div class="card text-center">
  <div class="card-header" id="url_stats_header">
    <h3>URL Statistics</h3>
  </div>
  <div class="card-body card-group" id="urlstatscard">
    
    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Total URLs</h4>
        <p class="card-text">{{ total_entries }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">URLs in last 24 hours</h4>
        <p class="card-text">{{ urls_created_today }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">URLs in last 7 days</h4>
        <p class="card-text">{{ urls_created_last_7_days }}</p>
      </div>
    </div>

    <div class="card" style="width: 10rem;">
      <div class="card-body">
        <h4 class="card-title">Daily URL Creation Average</h4>
        <p class="card-text">{{ daily_url_average }}</p>
      </div>
    </div>

  </div>
</div>

<br><br>

<h2>Request Details</h2>

<button type="button" class="btn btn-primary btn-lg" id="pending_requests_button" onclick="toggleTableViewPending()">Pending Requests</button>

<button type="button" class="btn btn-primary btn-lg" id="approved_requests_button" onclick="toggleTableViewApproved()">Approved Requests</button>

<button type="button" class="btn btn-primary btn-lg" id="denied_requests_button" onclick="toggleTableViewDenied()">Denied Requests</button>

<button type="button" class="btn btn-primary btn-lg" id="most_clicked_urls_button" onclick="toggleTableViewMostClicked()">Display Most Clicked URLs</button>

<br><br>

<div id="pending_requests_table">
  <center><h2>Pending Requests</h2></center>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Shortened URL</th>
      <th scope="col">Original URL</th>
      <th scope="col">Clicks</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">

  	{% for row_dict in row_dictionaries %}
      {% if row_dict['status'] == 'PENDING' %}
        <tr data-bs-toggle="modal" data-bs-target="#pending_modal">
      	<th scope="row">{{ row_dict['id'] }}</th>
        <td>{{ row_dict['first_name'] }}</td>
        <td>{{ row_dict['last_name'] }}</td>
        <td>{{ row_dict['email'] }}</td>
      	<td>{{ row_dict['short_url'] }}</td>
      	<td>{{ row_dict['original_url'] }}</td>
      	<td>{{ row_dict['clicks'] }}</td>
        <td>{{ row_dict['created_at'] }}</td>
        <td>{{ row_dict['status'] }}</td>
        </tr>
      {% endif %}
  	{% endfor %}

  </tbody>
</table>
</div>


<!-- Modal for Pending Requests Table -->
<div
  class="modal fade"
  id="pending_modal"
  tabindex="-1"
  aria-labelledby="pendingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pendingModalLabel">Pending Request</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p id="modal_body_id"></p>
        <p id="modal_body_first_name"></p>
        <p id="modal_body_last_name"></p>
        <p id="modal_body_email"></p>

        <p id="modal_body_original_url"></p>
        <p id="modal_body_short_url"></p>
        <p id="modal_body_created_at"></p>
      </div>
      <div class="modal-footer">
        <form method="post">
          <div class="form-group">
            <button type="button" class="btn btn-success btn-lg" id="approve_request_button">Approve</button>

          </div>
        </form> 
        <form method="post">
          <div class="form-group">
           <button type="button" class="btn btn-danger btn-lg" id="deny_request_button">Deny</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>


<div id="approved_requests_table">
  <center><h2>Approved Requests</h2></center>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Shortened URL</th>
      <th scope="col">Original URL</th>
      <th scope="col">Clicks</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">

    {% for row_dict in row_dictionaries %}
      {% if row_dict['status'] == 'APPROVED' %}
        <tr>
          <th scope="row">{{ row_dict['id'] }}</th>
          <td>{{ row_dict['first_name'] }}</td>
          <td>{{ row_dict['last_name'] }}</td>
          <td>{{ row_dict['email'] }}</td>
          <td>{{ row_dict['short_url'] }}</td>
          <td>{{ row_dict['original_url'] }}</td>
          <td>{{ row_dict['clicks'] }}</td>
          <td>{{ row_dict['created_at'] }}</td>
          <td>{{ row_dict['status'] }}</td>
        </tr>
      {% endif %}
    {% endfor %}

  </tbody>
</table>
</div>

<div id="denied_requests_table">
  <center><h2>Denied Requests</h2></center>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Original URL</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">

    {% for row_dict in row_dictionaries %}
      {% if row_dict['status'] == 'DENIED' %}
        <tr>
          <th scope="row">{{ row_dict['id'] }}</th>
          <td>{{ row_dict['first_name'] }}</td>
          <td>{{ row_dict['last_name'] }}</td>
          <td>{{ row_dict['email'] }}</td>
          <td>{{ row_dict['original_url'] }}</td>
          <td>{{ row_dict['created_at'] }}</td>
          <td>{{ row_dict['status'] }}</td>
        </tr>
      {% endif %}
    {% endfor %}

  </tbody>
</table>
</div>


<div id="most_clicked_urls_table">
  <center><h2>Most Popular URLs</h2></center>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Shortened URL</th>
      <th scope="col">Original URL</th>
      <th scope="col">Clicks</th>
      <th scope="col">Created</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">

    {% for row_dict in sorted_row_dictionaries %}
        {% if row_dict['clicks'] != 0 %}
        <tr>
          <th scope="row">{{ row_dict['id'] }}</th>
          <td>{{ row_dict['first_name'] }}</td>
          <td>{{ row_dict['last_name'] }}</td>
          <td>{{ row_dict['email'] }}</td>
          <td>{{ row_dict['short_url'] }}</td>
          <td>{{ row_dict['original_url'] }}</td>
          <td>{{ row_dict['clicks'] }}</td>
          <td>{{ row_dict['created_at'] }}</td>
        </tr>
        {% endif %}
    {% endfor %}

  </tbody>
</table>
</div>







{% endblock %}







